# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*

# Application specific
assets/*
outputs/*
gcloud-key.json

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# System Files
.DS_Store
Thumbs.db 