# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Output files
/outputs/*.txt
*.json

# Docker
.docker/
docker-compose.override.yml


*.ogg
*.mp3
*.wav
*.m4a
*.webm
*.mov
*.avi


.DS_Store

# Static files
static/.webassets-cache/
static/.sass-cache/
static/dist/
